.SinglePagebody{
  background-color: #E7EDEE;
  padding: 40px;
}
.main {
  height: auto;
  background-color: white;
  border-radius: 5px; 
}
.singlePageHeader{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.hr hr{
   margin-bottom: 0rem !important;
}

