.horizontalLine{
  background-color: #149777;
  height: 2px;
  width: 100%;
  margin-bottom: 20px;
}
.anchorStyleFb{
  text-decoration: none;
  color: #3B59B3;
}
.anchorStyle{
  text-decoration: none;
  color: #0074BA;
}
.FooterAppTitle{
  font-size: 15px;
  font-weight: 700;
}
.FooterTitleStyle{
  margin-bottom: 19px;
  font-size: 14.4px;
  font-weight: 700;
}
.FooteranchorStyle{
  font-size: 14.3px;
  color: #0074BA;
  text-decoration: none;
}