.Card1{
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 16px;
}
.Card2{
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-left: 2px;
  padding: 4px;
}