.productDetails{
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
}
.productName{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
.postLocation-and-time{
  font-size: 14px;
  color: #707676;
  padding-top: -10px;
}
.share-and-save-link{
  display: flex;
  gap: 30px;
  float: right;
  position: relative;
  z-index: 0;
}
.shareButton, .saveAd{
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
}

.shareButton > span, .saveAd > span{
  display: inline;
  color: #707676;
  padding-left: 8px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
}

.socialLinkTriangle{
  content: "";
  position: relative;
  height: 12px;
  width: 12px;
  background-color: white;
  z-index: 0;
  top: -7px;
  left: 83px;
  rotate: 45deg;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
.socialLink{
  background-color: white;
  z-index: 1;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 0px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  line-height: 37px;
  border-radius: 4px;
  position: absolute;
  top: 32px;
  right: 106px;
  box-shadow: 0px 1px 5px 4px rgba(143,143,143,0.12);
-webkit-box-shadow: 0px 1px 5px 4px rgba(143,143,143,0.12);
-moz-box-shadow: 0px 1px 5px 4px rgba(143,143,143,0.12);
}



.whatsapp, .facebook, .twitter, .email, .copyLink{
  color: #707676;
  font-size: 14px;
  font-weight: 500;
}
.main-img-container{
  border: none;
  background-color: #E7EDEE;
}

/* Modal design */

.modal-full-image{
  background-color: #424E4E;
}
.fullScreenSvg{
  position: relative;
  height: 32px;
  width: 32px;
  padding-top: 2.3px;
  background-color: #424E4E;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
.mainGalaryImage{
  margin-left: 40px;
}
.closeButton{
  border: 0;
  font-size: 32px;
}
.modal-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnileImg{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 24px;
  padding-left: 0px;
  margin-right: 10px;
  justify-content: center;
}
.croppedImage{
  opacity: 0.5;
}
.croppedImage.active{
  opacity: 1;
}

/* product details and features design */

.price{
  color: #009877;
  font-size: 24px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 30px;
}
.condition, .brand{
  color: #707676;
  font-size: 15px;
}
.features-heading{
  font-size: 15px;
  font-weight: 700;
}
.features > p{
  color: #707676;
  font-size: 15px;
}
.description > p{
  font-size: 14.5px;
  color: #707676;
}

/* Promote and Report btn design */

.horizontal-line{
  margin-bottom: -7px;
}
.horizontal-line > hr{
  margin-top: 2px;
}
.promote-add-and-report-btn{
  padding-bottom: 7px;
}
.Promote{
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14.4px;
  align-items: center;
  font-weight: 700;
  border: none;
  color: #673500;
  background-color: #ffc800;
  margin-right: 18px;
}
.promote > span{
  margin-left: 8px;
}
.Report{
  border: none;
  background-color: white;
  color: #424e4e;
  padding: 10px 16px;
  align-items: center;
}
.Report > span{
  margin-left: 6px;
  font-size: 14.4px;
}

/* similar ads section */

.similar-ads-heading{
  color: #2f3432;
  font-size: 17px;
  font-weight: 700;
}

/* slider design */

.PrevSvg{
  position: relative;
  left: -38rem;
}
.NextSvg{
  position: relative;
  right: -4rem;
}

/* for sale and safety tips section */

.for-sale-info-section{
  /* position: sticky; */
  top: 0;
  z-index: 0;
}
.for-sale{
  border: 1px solid #e5e8e9;
  margin-top: 71px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  

}
.for-sale-by{
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}
.for-sale-by > span{
  font-size: 15px;
  color: #707676;
}
.for-sale-by > b{
  font-size: 15px;
}
.contact-number{
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 8px;
  display: flex;
  cursor: pointer;
}
.contact-number .callSvg{
  margin-top: 1px;
}
.number{
  text-decoration: none;
}
.number > p{
  margin-bottom: -5.6px;
  margin-left: 10px;
  font-size: 14.4px;
  color: black;

}
.number > small{
 color: #707676;
 font-size: 11.9px;
 font-family: inherit;
 margin-left: 10px;
}
.chat{
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
.chat > b{
  font-size: 15px;
  margin-left: 8px;
  font-family: inherit;
}
.safety-tips{
  margin-top: 12px;
  border: 1px solid #4cb0c1;
  border-radius: 4px;
  padding: 12px;
}
.safety-tips > h3 > b{
  font-size: 15.4px;
}
.safety-list{
  color: #707676;
  margin-left: -10px;
  margin-top: 16px;
  line-height: 34px
}
.safety-list > li > small{
  font-size: 14.4px;
  color: #707676;
}
.see-all-safety-tips-link{
  text-decoration: none;
  color: #0074ba;
  font-size: 14.4px;
  margin-left: 21px;
}