
.aboutSingleProduct{
  background-color: #E7EDEE;
  padding-top: 38px;
}
.aboutMain{

}
.aboutTitle{
  font-weight: 700;
  font-size: 14.6px;
  color: #707676;
  padding-bottom: 6px;
}
.aboutPara{
  color:#707676;
  font-size: 14.5px;
}
.collapseAboutTitle{
  font-weight: 700;
  font-size: 15px;
  color: #707676;
  padding-top: 8px;
  padding-bottom: 12px;
}
.ulStyle{
  margin-left: -16px;
  color: #707676;
}
.ulStyle > li {
  line-height: 30px;
}
.ulStyle > li > a{
  text-decoration: none;
  font-size: 15px;
  color: #0074ba;
  padding-left: 6.5px;
}
.collapseBTN{
  font-size: 14.6px;
  border: none;
  background-color: #E7EDEE;
  font-weight: 400;
  color: #707676;
  margin-top: 18px;
  margin-bottom: 20px;
}
.downArrow{
  margin-left: 12px;
}
.upArrow{
 margin-left: 12px;
}